@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme("fontFamily.sans");
  color: theme("colors.ink");
  background-color: theme("colors.light-beige");
}

h1,
h2,
h3 {
  font-family: theme("fontFamily.serif");
}
